<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="copy">
<title>SPRINGBOOT CRUD APPLICATION</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta
	content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
	id="Viewport" name="viewport" />

<!-- Bootstrap -->
<link rel="stylesheet" media="screen"
	href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" />

<link rel="stylesheet" href="../css/styles.css" />

</head>

<body th:fragment="copy" class="container">
	<nav class="navbar navbar-default navbar-inverse" role="navigation"
		style="margin-bottom: 2px;">
	
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <!-- Home -->
            <span class="icon-bar"></span>
             <!-- Login -->
     
          </button>
<a class="navbar-brand" href="#">SPRINGBOOT CRUD APPLICATION</a>
		</div>
		
	</nav>
</body>
</html>
